*{
  margin: 0;
  padding: 0;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

.container {
  width: 30vw;
  height: 58vh;
  align-self: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="number"] {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #eff5f5;
}
h2 {
  margin-top: 1px;
  margin-left: 85px;
  padding: 5px;
}
select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #eff5f5;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

#result {
  font-weight: bold;
  padding: 5px;
}

h2:hover {
  cursor: pointer;
}
